/*body {*/
/*    background-color: #002225;*/
/*    color: whitesmoke;*/
/*    font-family: 'Exo', sans-serif;*/
/*}*/

/*body {*/
/*    margin: 0;*/
/*    background-color: #000;*/
/*    color: #fff;*/
/*    font-family: Monospace;*/
/*    font-size: 13px;*/
/*    line-height: 24px;*/
/*    overscroll-behavior: none;*/
/*}*/

/*a {*/
/*    color: #ff0;*/
/*    text-decoration: none;*/
/*}*/

/*a:hover {*/
/*    text-decoration: underline;*/
/*}*/

/*button {*/
/*    cursor: pointer;*/
/*    text-transform: uppercase;*/
/*}*/

/*canvas {*/
/*    display: block;*/
/*}*/

/*#info {*/
/*    position: absolute;*/
/*    top: 0px;*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    box-sizing: border-box;*/
/*    text-align: center;*/
/*    -moz-user-select: none;*/
/*    -webkit-user-select: none;*/
/*    -ms-user-select: none;*/
/*    user-select: none;*/
/*    pointer-events: none;*/
/*    z-index: 1; !* TODO Solve this in HTML *!*/
/*}*/

/*a, button, input, select {*/
/*    pointer-events: auto;*/
/*}*/

/*.dg.ac {*/
/*    -moz-user-select: none;*/
/*    -webkit-user-select: none;*/
/*    -ms-user-select: none;*/
/*    user-select: none;*/
/*    z-index: 2 !important; !* TODO Solve this in HTML *!*/
/*}*/

/*#overlay {*/
/*    position: absolute;*/
/*    z-index: 2;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height:100%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    opacity: 1;*/
/*    background-color: #000000;*/
/*    color: #ffffff;*/
/*}*/

/*#overlay > div {*/
/*    text-align: center;*/
/*}*/

/*#overlay > div > button {*/
/*    height: 20px;*/
/*    background: transparent;*/
/*    color: #ffffff;*/
/*    outline: 1px solid #ffffff;*/
/*    border: 0px;*/
/*    cursor: pointer;*/
/*}*/

/*#overlay > div > p {*/
/*    color: #777777;*/
/*    font-size: 12px;*/
/*}*/


#sim-root {
    width: 75%;
    height: 75%;
    margin: auto;
    border: 1px solid rgb(60, 61, 64);
}

.main-3d {
    width: 700px;
    height: 600px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid fuchsia;
}

.top-half {
    /*width: 300px;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid red;
}

.empty {
    width: 400px;
    height: 350px;
    margin-top: 10px;
    margin-left: 735px;
    /*float: right;*/
    border: 1px solid rgb(60, 61, 64);
}

.nav-bar {
    border: 1px solid rgb(60, 61, 64);
    height: 75px;
    /*padding: 0.5em;*/
}

.nav-bar-text {
    font-size: 18px;
}

#title {
    float: left;
    margin-left: 20px;
    margin-top: 25px;
    /*display: inline-block;*/
    /*margin: 10px 20px;*/
    /*padding-left: 10px;*/
}

.nav-bar::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
    /*display: inline-block;*/
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 10px 20px;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
}

nav a:hover {
    color: salmon;
}
